################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ResumeManagerWebApp/.vs/ResumeManagerWebApp.slnx
/ResumeManagerWebApp/bin/Debug/net10.0
/ResumeManagerWebApp/obj
/ResumeManagerWebApp/ResumeManagerWebApp.csproj.user
