################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ResumeManagerWebApp/.vs/ResumeManagerWebApp.slnx
/ResumeManagerWebApp/bin/Debug/net10.0
/ResumeManagerWebApp/obj
/ResumeManagerWebApp/ResumeManagerWebApp.csproj.user
/ResumeManagerWebApp/.vs/ProjectEvaluation
/ResumeManagerWebApp/.vs/ResumeManagerWebApp/CopilotIndices/18.3.511.5503
/ResumeManagerWebApi/.vs
/ResumeManagerWebApi/bin/Debug/net10.0
/ResumeManagerWebApi/obj
/ResumeManagerWebApp/ResumeManagerWebApp.slnLaunch.user
